<template>
    <div id="about">
        <h1> {{ headline }} </h1>
        <p> {{ description }} </p>
        <v-btn @click="setHeader"> Display Title </v-btn>
        <button>hello</button>
    </div>
</template>

<script lang="ts">
import { Component, Vue } from "vue-property-decorator"

export default class About extends Vue{
    headline: string = ""
    description: string = ""
    setHeader = () => this.headline = "Hello World"
}
</script>