<template>
  <div id="hello">
    <HelloWorld />
    <h1> {{ greeting }} </h1>
  </div>
</template>

<script lang="ts">
import Vue from "vue";
import HelloWorld from "../components/HelloWorld.vue";
import About from "../views/About.vue";

export default Vue.extend({
  components: {
    HelloWorld
  },
  data() {
    return {
      greeting: "hello world"
    }
  }
});
</script>
