<template>
  <v-container class="container">
    <v-color-picker 
      v-model="color"
      value="color"
    />
    <v-btn @click="onChange">Hello</v-btn>
  </v-container>
</template>


<style scoped lang="scss">

.container {
  background-color: white;
}

</style>

<script lang="ts">

import Vue from 'vue'

export default Vue.extend({
  data: () => {
    return {
      color: ''
    }
  },
  methods: {
    onChange() {
      return
    }
  },
})
</script>