<template>
  <v-app id="inspire">
    <v-navigation-drawer
      v-model="drawer"
      app
      clipped
    >
      <v-list dense>
        <router-link to="/">
          <v-list-item @click="">
            <v-list-item-action>
              <v-icon>mdi-view-dashboard</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Dashboard</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </router-link>

        <router-link to="/about">
          <v-list-item @click="">
            <v-list-item-action>
              <v-icon>mdi-settings</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Settings</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </router-link>
      </v-list>


    </v-navigation-drawer>

    <v-app-bar
      app
      clipped-left
    >
      <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
      <v-toolbar-title>Jake's Test App</v-toolbar-title>
      
      <v-tabs
        v-model="tabs"
        align-with-title
        background-color="transparent"
      >
        <v-tab href="#one">Item One</v-tab>
        <v-tab href="#two">Item Two</v-tab>
        <v-tab href="#three">Item Three</v-tab>
        <v-tabs-slider color="pink"></v-tabs-slider>
      </v-tabs>
    </v-app-bar>

    <v-content>
      <v-container>

        <v-card-text>
          <router-view></router-view>
          <v-tabs-items v-model="tabs">
            <v-tab-item
              v-for="content in ['one', 'two', 'three']"
              :key="content"
              :value="content"
            >
              <v-card
                height="400px"
                flat
              >
              <v-subheader>
                <h1 class="card-header"> {{ activeDiv.content }} </h1>
              </v-subheader>
              </v-card>
            </v-tab-item>
          </v-tabs-items>
        </v-card-text>

        <v-fab-transition>
          <v-btn
            :key="activeFab.icon"
            :color="activeFab.color"
            fab
            large
            dark
            bottom
            left
            class="v-btn--example"
          >
            <v-icon> {{ activeFab.icon }}</v-icon>
          </v-btn>
        </v-fab-transition>

      </v-container>
    </v-content>

    <v-footer app>
      <span>&copy; 2019</span>
    </v-footer>
  </v-app>
</template>


<script>
  // eslint-disable-next-line
  export default {
    props: {
      source: String,
    },
    data: () => ({
      drawer: null,
      fab: false,
      hidden: false,
      tabs: null,
      header: "Hello World",
    }),
    created () {
      this.$vuetify.theme.dark = true
    },
    computed: {
      activeFab() {
        switch (this.tabs) {
          case 'one': return {color: 'success', icon: 'mdi-share'}
          case 'two': return {color: 'red', icon: 'mdi-edit'}
          case 'three': return {color: 'green', icon: 'mdi-keyboard-arrow-up'}
          default: return {}
        }
      },
      activeDiv() {
        switch (this.tabs) {
          case 'one': return {
            content: `${this.header} stuff 1`
          }
          case 'two': return {
            content: `${this.header} stuff 2`
          }
          case 'three': return {
            content: `${this.header} stuff 3`
          }
          default: return {}
        }
      }
    }
  }
</script>


<style scoped lang="scss">
.card-header {
  padding-top: 50px;
  text-align: center;
}
</style>